$accent-primary: #B12929;
$accent-error: #f26451;
$accent-success: #58ad30;

$border: #e6d6d6;

$ui-primary: #4A3C3E;
$ui-secondary: #715C64;
$ui-white: #ffffff;

$bg-primary: #FFF3F3;
$bg-secondary: #ffffff;
$bg-tertiary: #b75858;

$bg-primary-highlight: #ccbab4;
$bg-secondary-highlight: #eee8e8;
$bg-tertiary-highlight: #eaaeae;

$accent-primary-highlight: #862626;
$accent-error-highlight: #d6240c;
