$accent-primary: #AC4848;
$accent-error: #F26451;
$accent-success: #58AD30;

$border: #E6D6D6;

$ui-primary: #665558;
$ui-secondary: #BFAAB2;
$ui-white: #FFFFFF;

$bg-primary: #FFF0F0;
$bg-secondary: #ffffff;
$bg-tertiary: #CB8B8B;

$bg-primary-highlight: #ccbab4;
$bg-secondary-highlight: #EEE8E8;
$bg-tertiary-highlight: #EAAEAE;

$accent-primary-highlight: #862626;
$accent-error-highlight: #D6240C;
