$accent-primary: #ac4848;
$accent-error: #f26451;
$accent-success: #58ad30;

$border: #e6d6d6;

$ui-primary: #665558;
$ui-secondary: #bfaab2;
$ui-white: #ffffff;

$bg-primary: #fff0f0;
$bg-secondary: #ffffff;
$bg-tertiary: #cb8b8b;
$bg-territory: #be6969;

$bg-primary-highlight: #ccbab4;
$bg-secondary-highlight: #eee8e8;
$bg-tertiary-highlight: #eaaeae;

$accent-primary-highlight: #862626;
$accent-error-highlight: #d6240c;
